
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hack, monospace;
}

/* HEADINGS */

h1, p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;

}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
   z-index: 1000;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}
/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 60px;
  overflow: hidden;
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Customize the shadow values as per your preference */
 z-index: 1;  /* Add other styles like positioning, alignment, etc. */
}

.navbar img {
  height: 55px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto); /* Set the same width for all navigation items */
  justify-content: flex-end; /* Align the content to the right */
  gap: 30px; /* Add this line to create a 20px gap between navigation items */
  position: relative;
  padding-right: 30px; /* Add 20px padding on the right to create the desired distance */
}


.nav-item a {
  color: white;
  font-size: 16px;
  font-family: "monospace" sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}


.nav-item a {
  color: #000;
  font-size: 16px;
  font-family:"monospace" sans-serif;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-out;
}

.nav-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent; /* Initially transparent */
  position: absolute;
  bottom: -5px; /* Position the underline below the text */
  left: 0;
  transition: width 0.3s ease-out, background-color 0.3s ease-out; /* Add transitions */
}

.nav-item a:hover,
.nav-item.activenav a { /* Apply the same styles for the active element */
  color: #3498db;
}

.nav-item a:hover::after,
.nav-item.activenav a::after { /* Apply the same styles for the active element */
  width: 100%;
  background-color: #3498db;
}


.section-divider {
  margin: 0px auto; /* Adjust the margin as needed to control the spacing around the line */
  border: none;
  border-top: 1px solid #ccc; /* Adjust the color and style of the line as desired */
  width: 80%; /* Adjust the width of the line as needed */
}


.features {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  padding: 20px 20px;
  justify-content: space-around;
}

.feature-container {
  border-width: 2px;
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}



.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-active {
  opacity: 1;
  z-index: 0;
}


/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.whats-float {
    position: fixed;
    transform:translate(108px,0px);
    top:75%;
    right:0;
    width:150px;
    overflow: hidden;
    background-color: #25d366;
    color: #FFF;
    border-radius: 10px 0 0 10px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    vertical-align: middle
}
.whats-float a span {
    color: white;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    position: absolute;
    line-height: 16px;
    font-weight: bolder;
}

.whats-float i {
    font-size: 30px;
    color: white;
    line-height: 30px;
    padding: 10px;
    transform:rotate(0deg);
    transition: all 0.5s ease-in-out;
    text-align:center;

}

.whats-float:hover {
    color: #FFFFFF;
    transform:translate(0px,0px);
}


/*--------------------Mobile Screeen ------------------------------------------*/

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
  .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 60px;
  overflow: hidden;
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Customize the shadow values as per your preference */
  /* Add other styles like positioning, alignment, etc. */
}
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
    position: relative ;
  }
  .navbar li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
  }

  .navbar li a:hover::after,
  .navbar li.active a::after {
    width: 100%;
    background-color: #3498db;
  }

   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */

  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  
}

/* ---------------------------------- Style for the footer -------------------*/


footer {
  background-color: #333;
  color: #fff;
  padding: 10px; /* Adjust the padding as needed */
  text-align: center;
}

/* Add responsiveness for smaller screens */
@media screen and (max-width: 768px) {
  footer {
    padding: 10px;
  }
}
footer p {
  font-family: Hack, monospace;
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: 10px;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: ;: 20px
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  font-size: 16px;
  margin: 0 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color:#3498db;
  color: #fff;
}

/* ---------------------------------- Style for the footer -------------------*/


/* ---------------------------------- Style for the sketches-------------------*/






